@tailwind base;
@tailwind components;
@tailwind utilities;
.con{
    background-color: #9CF345;
    min-height:160vh;
}
.pin{
    background-image: url(../images/t.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 35.2rem;
    background-position: center;
    min-height: 170vh;
}
.pop{
    background-image: url(../images/Ab1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 35.2rem;
    background-position: center;
    min-height: 120vh;

}
.pip{
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 35.2rem;
    background-position: center;
    min-height: 100vh;

}
.plan{
    height: 360px;
    width: 360px;

}
.p{
    background-image: url(../images/1m.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 35.2rem;
    background-position: center;
    min-height: 100vh;

}
.f{
    background-image: url(../images/machi.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 35.2rem;
    background-position: center;
    min-height: 100vh;
}
.s{
    background-image: url(../images/Ab1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 35.2rem;
    background-position: center;
    min-height: 100vh;
}